{{>header}}

<section id="menu">
    {{!--Search--}}
    <section>
        <form class="search" method="get" action="#">
            <input type="text" name="query" placeholder="Search" />
        </form>
    </section>
    <section>
        <ul class="links">
            {{!--Loop through Navigation items--}}
		    {{#foreach navigation}}
		        <li><a href="{{url absolute="true"}}">{{label}}</a></li>
		    {{/foreach}}
			{{!--End the Loop--}}
        </ul>
    </section>
    <section>
		<ul class="actions vertical">
			<li><a href="{{@blog.url}}/rss/" class="button big fit">Subscribe</a></li>
		</ul>
	</section>
</section>