<div>
    <ul class="actions pagination" role="navigation">
    {{!--{{#if prev}}--}}
        <li><a href="{{page_url prev}}" class="disabled button big previous">Newer Posts</a></li>
    {{!--{{/if}}--}}
    {{!--{{#if next}}--}}
        <li><a href="{{page_url next}}" class="button big next">Older Posts</a></li>
    {{!--{{/if}}--}}
</ul>
</div>
