<section id="sidebar">
    {{!--Intro--}}
    <section id="intro">
        {{#if @blog.logo}}
            <a class="logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>
        {{/if}}
        <header>
            <h2>{{@blog.title}}</h2>
            <p>{{@blog.description}}</p>
		<ul class="icons">
			<li><a href="https://twitter.com/araknode" class="fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="https://facebook.com/araknode" class="fa-facebook"><span class="label">Facebook</span></a></li>
			{{!--<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>--}}
			{{!--<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>--}}
			<li><a href="mailto:info@araknode.com" class="fa-envelope"><span class="label">Email</span></a></li>
		</ul>
        </header>
    </section>
    <!-- Footer -->
	<!-- About -->
	<section class="blurb">
		<h2>About</h2>
		<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
		<ul class="actions">
			<li><a href="#" class="button">Learn More</a></li>
		</ul>
	</section>
	<section id="footer">
		<p class="copyright">&copy; Araknode. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
	</section>

</section>

{{!--<section id="sidebar">--}}

{{!--						<!-- Intro -->--}}

{{!--						<!-- Mini Posts -->--}}
{{!--							<section>--}}
{{!--								<div class="mini-posts">--}}

{{!--									<!-- Mini Post -->--}}
{{!--										<article class="mini-post">--}}
{{!--											<header>--}}
{{!--												<h3><a href="#">Vitae sed condimentum</a></h3>--}}
{{!--												<time class="published" datetime="2015-10-20">October 20, 2015</time>--}}
{{!--												<a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>--}}
{{!--											</header>--}}
{{!--											<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>--}}
{{!--										</article>--}}

{{!--									<!-- Mini Post -->--}}
{{!--										<article class="mini-post">--}}
{{!--											<header>--}}
{{!--												<h3><a href="#">Rutrum neque accumsan</a></h3>--}}
{{!--												<time class="published" datetime="2015-10-19">October 19, 2015</time>--}}
{{!--												<a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>--}}
{{!--											</header>--}}
{{!--											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>--}}
{{!--										</article>--}}

{{!--									<!-- Mini Post -->--}}
{{!--										<article class="mini-post">--}}
{{!--											<header>--}}
{{!--												<h3><a href="#">Odio congue mattis</a></h3>--}}
{{!--												<time class="published" datetime="2015-10-18">October 18, 2015</time>--}}
{{!--												<a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>--}}
{{!--											</header>--}}
{{!--											<a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>--}}
{{!--										</article>--}}

{{!--									<!-- Mini Post -->--}}
{{!--										<article class="mini-post">--}}
{{!--											<header>--}}
{{!--												<h3><a href="#">Enim nisl veroeros</a></h3>--}}
{{!--												<time class="published" datetime="2015-10-17">October 17, 2015</time>--}}
{{!--												<a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>--}}
{{!--											</header>--}}
{{!--											<a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>--}}
{{!--										</article>--}}

{{!--								</div>--}}
{{!--							</section>--}}

{{!--						<!-- Posts List -->--}}
{{!--							<section>--}}
{{!--								<ul class="posts">--}}
{{!--									<li>--}}
{{!--										<article>--}}
{{!--											<header>--}}
{{!--												<h3><a href="#">Lorem ipsum fermentum ut nisl vitae</a></h3>--}}
{{!--												<time class="published" datetime="2015-10-20">October 20, 2015</time>--}}
{{!--											</header>--}}
{{!--											<a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>--}}
{{!--										</article>--}}
{{!--									</li>--}}
{{!--									<li>--}}
{{!--										<article>--}}
{{!--											<header>--}}
{{!--												<h3><a href="#">Convallis maximus nisl mattis nunc id lorem</a></h3>--}}
{{!--												<time class="published" datetime="2015-10-15">October 15, 2015</time>--}}
{{!--											</header>--}}
{{!--											<a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>--}}
{{!--										</article>--}}
{{!--									</li>--}}
{{!--									<li>--}}
{{!--										<article>--}}
{{!--											<header>--}}
{{!--												<h3><a href="#">Euismod amet placerat vivamus porttitor</a></h3>--}}
{{!--												<time class="published" datetime="2015-10-10">October 10, 2015</time>--}}
{{!--											</header>--}}
{{!--											<a href="#" class="image"><img src="images/pic10.jpg" alt="" /></a>--}}
{{!--										</article>--}}
{{!--									</li>--}}
{{!--									<li>--}}
{{!--										<article>--}}
{{!--											<header>--}}
{{!--												<h3><a href="#">Magna enim accumsan tortor cursus ultricies</a></h3>--}}
{{!--												<time class="published" datetime="2015-10-08">October 8, 2015</time>--}}
{{!--											</header>--}}
{{!--											<a href="#" class="image"><img src="images/pic11.jpg" alt="" /></a>--}}
{{!--										</article>--}}
{{!--									</li>--}}
{{!--									<li>--}}
{{!--										<article>--}}
{{!--											<header>--}}
{{!--												<h3><a href="#">Congue ullam corper lorem ipsum dolor</a></h3>--}}
{{!--												<time class="published" datetime="2015-10-06">October 7, 2015</time>--}}
{{!--											</header>--}}
{{!--											<a href="#" class="image"><img src="images/pic12.jpg" alt="" /></a>--}}
{{!--										</article>--}}
{{!--									</li>--}}
{{!--								</ul>--}}
{{!--							</section>--}}

{{!--						<!-- About -->--}}
{{!--							<section class="blurb">--}}
{{!--								<h2>About</h2>--}}
{{!--								<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>--}}
{{!--								<ul class="actions">--}}
{{!--									<li><a href="#" class="button">Learn More</a></li>--}}
{{!--								</ul>--}}
{{!--							</section>--}}

{{!--						<!-- Footer -->--}}
{{!--							<section id="footer">--}}
{{!--								<ul class="icons">--}}
{{!--									<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>--}}
{{!--									<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>--}}
{{!--									<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>--}}
{{!--									<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>--}}
{{!--									<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>--}}
{{!--								</ul>--}}
{{!--								<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>--}}
{{!--							</section>--}}

{{!--					</section>--}}